postgresql:
  enabled: true
  image:
    registry: docker.io
    repository: library/postgres
    tag: 14-alpine
  auth:
    username: postgres
    password: postgres
    database: airflow

executor: KubernetesExecutor
